@import "./main.scss";

.mt-74 {
  margin-top: calc(64px + 10px);
}

.sidebar {
  $width_sidebar: 205px;
  width: $width_sidebar;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 15px;
  position: relative;
  margin: 0;
  z-index: 20;

  & .item {
    display: flex;
    width: 100%;

    & .item__container {
      padding: 3px 10px;
      width: 100%;
      display: flex;

      & .item__title {
        margin-left: 5px;
        padding-left: 10px;
        flex: 1;
      }

      & img {
        width: 25px;
        height: 25px;
      }

      & .list__child {
        margin-top: 16px;
        text-transform: none;

        & .child__item {
          font-size: 14px;
          opacity: 0.6;
          font-weight: 400;
        }

        .child__item:hover {
          color: $base-color;
        }
      }
    }
  }

  & > .item::after {
    content: "";
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    display: none;
  }

  & > .item:hover {
    cursor: pointer;
  }

  & > .item:hover::after {
    cursor: pointer;
    display: block;
  }

  // sidebar__detail
  &__details {
    visibility: hidden;
    width: calc(1200px - $width_sidebar);
    position: absolute;
    z-index: 1;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%),
      0 2px 6px 2px rgb(60 64 67 / 15%);
    left: calc($width_sidebar + 1px);
    border-radius: 0 10px 10px 10px;
    top: 0;
    min-height: 375px;
    background-color: #fff;
  }

  & > .item:hover .sidebar__details {
    cursor: pointer;
    visibility: visible;
  }

  & > .item::after:hover .sidebar__details {
    cursor: pointer;
    visibility: visible;
  }
}

#slider {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  overflow: hidden;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .list__subtitle {
    display: flex;
    width: 100%;
    margin-bottom: 0;

    #carouselExampleControls {
      max-width: 711px;

      & img {
        border-radius: 12px;
      }

      & .bg__icon-slide {
        background-color: #000;
        padding: 20px;
        display: block;
      }
    }

    & li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 18px 22px;

      & span {
        font-size: 12px;
      }
    }

    & > li.active {
      border-bottom: 3px solid $base-color;
      font-size: 14px;
      flex: 1;

      & > span:first-child {
        text-transform: uppercase;
        font-weight: 700;
      }

      & > span:last-child {
        font-weight: 600;
        font-weight: bold;
      }
    }

    & li:hover {
      background-color: #f3f4f6;
      cursor: pointer;
    }
  }
}
